@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: none;
  margin: none;
}

html,
body {
  background: #bad0b8;
  scroll-behavior: smooth;
  overflow-x: none;
}

/* SideNav */
.sideNav {
  z-index: 1000;
  top: 15%;

  width: fit-content;
  font-family: "Inter", sans-serif;
}

.activeSide {
  background: #7f9978;
  height: 42px;
  display: flex;
  flex-shrink: 0;
  border-radius: 12px;
  align-items: center;
  cursor: default !important;
  color: #fff !important;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.SectionTitle {
  color: #000;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 300%; /* 30px */
}

.sideLink {
  line-height: 230%;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5%;
  color: #505050;
}

.mainContent {
  width: 75%;
  min-width: 200px; /* Set a minimum width for the content */
  height: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: 5%;
  overflow-x: hidden; /* Use hidden instead of none to hide horizontal overflow */
}

.main {
  font-family: "Inter", sans-serif;
  justify-content: center;
  max-width: 700px; /* Set a fixed max-width instead of a percentage */
  text-align: left;
}

.title {
  color: #053d00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.subTitle {
  color: #053d00;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
p {
  line-height: 150%;
}
#Introduction {
  display: flex;
  flex-direction: column;
  text-align: left;
}

img {
  display: grid;
  place-content: center;
  align-items: center;
  line-height: 150%;
  border-radius: 12px;
}
.highlight {
  color: #006d53;
}

.terminalImage {
  height: 300px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .sideNav {
    position: absolute;
    top: 10%; /* Move the SideNav closer to the top */
    left: 2%; /* Move the SideNav closer to the left */
    min-width: 80%;
  }

  .mainContent {
    top: 70%; /* Move the Main Content further down */
    right: 2%; /* Move the Main Content closer to the right */
    width: 96%; /* Occupy almost full width on small screens */
    min-width: 90%; /* Adjust the min-width to occupy most of the screen width */
    max-width: 90%;
  }

  .main {
    max-width: 90%; /* Adjust the max-width to occupy most of the screen width */
  }
  .title {
    font-size: 24px; /* Decrease font size for the title */
  }

  .subTitle {
    font-size: 18px; /* Decrease font size for the subtitle */
  }
}

@media screen and (max-width: 1024px) {
  .mainContent {
    right: 10%; /* Move the Main Content closer to the right */
    width: 80%; /* Occupy most of the screen width on small screens */
    min-width: 80%; /* Adjust the min-width to occupy most of the screen width */
    max-width: 90%;
  }
  .main {
    max-width: 80%; /* Adjust the max-width to occupy most of the screen width */
  }
}
