@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: none;
  margin: none;
}

html,
body {
  background: #bad0b8;
  scroll-behavior: smooth;
  overflow-x: none;
}

/* SideNav */
.sideNav {
  padding-left: 10%;
  z-index: 1000;
  height: 50%;
  margin-top: 5%;
  width: fit-content;
  font-family: "Inter", sans-serif;
}

.activeSide {
  background: #7f9978;
  height: 50%;
  display: flex;
  flex-shrink: 0;
  border-radius: 12px;
  align-items: center;
  cursor: default !important;
  color: #fff !important;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.SectionTitle {
  color: #000;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 300%; /* 30px */
}

.sideLink {
  line-height: 230%;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5%;
  color: #505050;
}

.sideLink:hover {
  background: #50505039;
  height: 50%;
  display: flex;
  flex-shrink: 0;
  border-radius: 12px;
  align-items: center;
  font-family: Inter;
}

.mainContent {
  width: 80%;
  min-width: 200px; /* Set a minimum width for the content */
  height: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: 3%;
  overflow-x: hidden; /* Use hidden instead of none to hide horizontal overflow */
  scroll-behavior: smooth;
}

.main {
  font-family: "Inter", sans-serif;
  justify-content: center;
  max-width: 60%; /* Set a fixed max-width instead of a percentage */
  text-align: left;
}

.title {
  color: #053d00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.subTitle {
  color: #053d00;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
p {
  line-height: 150%;
}
#Introduction {
  display: flex;
  flex-direction: column;
  text-align: left;
}

img {
  display: grid;
  place-content: center;
  align-items: center;
  line-height: 150%;
  border-radius: 12px;
  box-shadow: #000 0px 0px 5px;
}

.highlight {
  color: #006d53;
  font-weight: bolder;
}
.highlight2 {
  color: #053d00;
  font-weight: bolder;
}
.terminalImage {
  width: 90%;
  height: 100%;
}
.npmExample {
  background: #d3dcbf;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 12px;
}
.note {
  line-height: 150%;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}
.list {
  color: #282828;
  line-height: 150%;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}
code {
  border-radius: 12px;
}
#Complete a {
  text-decoration: none;
}
.github {
  position: relative;
  border-radius: 8px;
  border: 1px solid #505050;
  background-color: #282828;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  z-index: 90;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github::before {
  content: ""; /* Add content property for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.897) 39.1%,
    rgba(112, 112, 112, 0.14) 100%
  );
  border-radius: 8px;
  z-index: 0; /* Set z-index to 0 to position the pseudo-element between the container and its content */
}

.github svg {
  display: flex;
  z-index: 100;
  height: 200px;
  width: 200px;
}

.GithubLink h1 {
  color: #006d53;
  z-index: 100;
}

.tag {
  display: flex;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  background: #a29f9f;
  width: 96.26px;
  height: 27px;
  flex-shrink: 0;
  text-decoration: none;
  z-index: 100;
}

.lower {
  position: relative;
  z-index: 100;
  color: #fff;
  max-width: 80%; /* Set a maximum width for the paragraph */
  top: 0;
  margin-top: 0 !important;
}
.github:hover {
  cursor: pointer;
  background: #ffffff3f;
  transition: 1s all;
}
@media screen and (max-width: 768px) {
  .sideNav {
    display: none;
  }

  .mainContent {
    position: relative;
    top: 10%; /* Move the Main Content further down */
    left: 10%; /* Move the Main Content closer to the right */
    width: 100%; /* Occupy almost full width on small screens */
  }

  .main {
    max-width: 100%; /* Adjust the max-width to occupy most of the screen width */
  }
  .title {
    font-size: 24px; /* Decrease font size for the title */
  }

  .subTitle {
    font-size: 18px; /* Decrease font size for the subtitle */
  }
}

@media screen and (max-width: 1024px) {
  .mainContent {
    right: 2%; /* Move the Main Content closer to the right */
    width: 80%; /* Occupy most of the screen width on small screens */
    min-width: 80%; /* Adjust the min-width to occupy most of the screen width */
    max-width: 90%;
  }
  .main {
    max-width: 80%; /* Adjust the max-width to occupy most of the screen width */
  }
}

@media screen and (max-width: 1360px) {
  .sideNav {
    padding: 1%;
  }
}
