* {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
}

@media screen {
}
